h1{
    color: blue;
    font-size: 60px;

}
div
{
    color: brown;
    font-size: 35px;
}
h2{
    color:darkgreen
}
h3{
    color:darkmagenta
}
body{
    margin: 0 auto;
    padding: 0 20px ;
    font-family: 'Times New Roman', Times, serif;
}

footer{
    margin: 20px ;
    background-color: cadetblue;
    padding: 20px;
    text-align: center;
    
}
a{
    margin-top: 20px;
    text-decoration: none;
    margin-right: 15px;
}